{
    "workspace" : {
        "host" : "<irods host name>",
        "port" : "<irods port>",
        "user" : "<irods user>",
        "password" : "<irods password>",
        "zone" : "<irods zone>"
    },
    "account_db" : {
        "name" : "<account db name>",
        "user" : "<account db user>",
        "password" : "<account db password>"
    }
}