<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.DeleteCommentsMapper">

  <delete id="deleteStableIds"> 
    DELETE FROM userlogins5.CommentStableId
  </delete> 
  
  <delete id="deleteFiles">
    DELETE FROM userlogins5.CommentFile
  </delete>
  
  <delete id="deleteSequences">
    DELETE FROM userlogins5.CommentSequence
  </delete>
  
  <delete id="deleteReferences">
    DELETE FROM userlogins5.CommentReference
  </delete>
  
  <delete id="deleteCommentTargetCategories">
    DELETE FROM userlogins5.CommentTargetCategory
  </delete>
  
  <delete id="deleteTargetCategories">
    DELETE FROM userlogins5.TargetCategory
  </delete>
  
  <delete id="deleteCommentExternalDBs">
    DELETE FROM userlogins5.comment_external_database
  </delete>
  
  <delete id="deleteLocations">
    DELETE FROM userlogins5.locations
  </delete>
  
  <delete id="deleteExternalDBs">
    DELETE FROM userlogins5.external_databases
  </delete>
  
  <delete id="deleteComments">
    DELETE FROM userlogins5.comments
  </delete>
  
  <delete id="deleteReviewStatus">
    DELETE FROM userlogins5.review_status
  </delete>
  
  <delete id="deleteTargets">
    DELETE FROM userlogins5.comment_target
  </delete>

</mapper>