<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.FungiBasketMapper">
  
  <!-- delete old fungi baskets -->
  <delete id="deleteBaskets">
    DELETE FROM userlogins4.user_baskets 
    WHERE project_id = 'FungiDB' AND user_id IN (SELECT user_id FROM userlogins4.users WHERE is_guest = 0)
  </delete>
  
  <!-- insert Fungi baskets for all name/existing users, but not duplicate users -->
  <insert id="insertExistingBaskets">
    INSERT INTO userlogins4.user_baskets (basket_id, user_id, project_id,
           record_class, pk_column_1, pk_column_2, pk_column_3)
    SELECT userlogins4.user_baskets_pkseq.nextval AS basket_id, b.user_id, b.project_id, 
           b.record_class, b.pk_column_1, b.pk_column_2, b.pk_column_3
    FROM userlogins3.user_baskets b, userlogins3.users u
    WHERE b.user_id = u.user_id AND b.project_id = 'FungiDB' AND u.is_guest = 0
      AND u.user_id NOT IN (SELECT old_id FROM user_map)
  </insert>
  
  <!-- insert Fungi baskets for users with changed id -->
  <insert id="insertDuplicateBaskets">
    INSERT INTO userlogins4.user_baskets (basket_id, user_id, project_id,
           record_class, pk_column_1, pk_column_2, pk_column_3)
    SELECT userlogins4.user_baskets_pkseq.nextval AS basket_id, u.new_id, b.project_id, 
           b.record_class, b.pk_column_1, b.pk_column_2, b.pk_column_3
    FROM userlogins3.user_baskets b, user_map u
    WHERE b.user_id = u.old_id AND b.project_id = 'FungiDB'
  </insert>
  
</mapper>
