<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.FungiUserMapper">

  <insert id="findNewUsers">
    INSERT INTO temp_users (user_id)
    SELECT user_id FROM userlogins3.users 
    WHERE is_guest = 0 
      AND user_id NOT IN (SELECT user_id FROM userlogins4.users WHERE is_guest = 0)
      AND email NOT IN (SELECT email FROM userlogins4.users)
  </insert>
  
  <insert id="findDuplicateUsers">
    INSERT INTO user_map (old_id, new_id)
    SELECT u3.user_id AS old_id, u4.user_id AS new_id
    FROM userlogins3.users u3, userlogins4.users u4
    WHERE u3.is_guest = 0 AND u3.email = u4.email AND u3.user_id != u4.user_id
  </insert>

  <insert id="insertNewUsers">
    INSERT INTO userlogins4.users (
           user_id, email, passwd, is_guest, signature, register_time, last_active, 
           last_name, first_name, middle_name, title, organization, department, 
           address, city, state, zip_code, phone_number, country)
    SELECT user_id, email, passwd, is_guest, signature, register_time, last_active, 
           last_name, first_name, middle_name, title, organization, department, 
           address, city, state, zip_code, phone_number, country
    FROM userlogins3.users WHERE user_id IN (SELECT user_id FROM temp_users)
  </insert>

  <!-- insert user roles for new users -->
  <insert id="insertNewRoles">
    INSERT INTO userlogins4.user_roles (user_id, user_role)
    SELECT r.user_id, r.user_role FROM userlogins3.user_roles r, temp_users u WHERE r.user_id = u.user_id
  </insert>

</mapper>