<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.FungiFavoriteMapper">
  
  <!-- delete old fungi favorites -->
  <delete id="deleteFavorites">
    DELETE FROM userlogins4.favorites 
    WHERE project_id = 'FungiDB' AND user_id IN (SELECT user_id FROM userlogins4.users WHERE is_guest = 0)
  </delete>
  
  <!-- insert Fungi favorites for all the new/existing users, but make sure don't copy duplicate users -->
  <insert id="insertExistingFavorites">
    INSERT INTO userlogins4.favorites (favorite_id, user_id, project_id, record_class, 
           pk_column_1, pk_column_2, pk_column_3, record_note, record_group)
    SELECT favorites_pkseq.nextval AS favorite_id, f.user_id, f.project_id, f.record_class, 
           f.pk_column_1, f.pk_column_2, f.pk_column_3, f.record_note, f.record_group
    FROM userlogins3.favorites f, userlogins3.users u
    WHERE f.user_id = u.user_id AND f.project_id = 'FungiDB' AND u.is_guest = 0
      AND u.user_id NOT IN (SELECT old_id FROM user_map)
  </insert>
  
  <!-- insert Fungi favorites for users with changed id -->
  <insert id="insertDuplicateFavorites">
    INSERT INTO userlogins4.favorites (favorite_id, user_id, project_id, record_class, 
           pk_column_1, pk_column_2, pk_column_3, record_note, record_group)
    SELECT favorites_pkseq.nextval AS favorite_id, u.new_id, f.project_id, f.record_class, 
           f.pk_column_1, f.pk_column_2, f.pk_column_3, f.record_note, f.record_group
    FROM userlogins3.favorites f, user_map u
    WHERE f.user_id = u.old_id AND f.project_id = 'FungiDB'
  </insert>

</mapper>