<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.FungiDatasetMapper">
   
  <!-- delete guest datasets that has conflicting ids with registered users from userlogins3 -->
  <delete id="deleteGuestDatasets">
    DELETE FROM userlogins4.user_datasets2 WHERE user_dataset_id IN 
      (SELECT d4.user_dataset_id 
       FROM userlogins4.user_datasets2 d4, userlogins4.users u4,
            userlogins3.user_datasets2 d3, userlogins3.users u3
       WHERE d4.user_id = u4.user_id AND u4.is_guest = 1 AND d4.user_dataset_id = d3.user_dataset_id
         AND d3.user_id = u3.user_id AND u3.is_guest = 0) 
  </delete>

  
  <!-- insert new user datasets for all users, except users with changed ids -->
  <insert id="insertNewDatasets">
    INSERT INTO userlogins4.user_datasets2 (user_dataset_id, dataset_id, user_id, create_time, upload_file)
    SELECT d.user_dataset_id, d.dataset_id, d.user_id,  d.create_time, d.upload_file
    FROM userlogins3.user_datasets2 d, userlogins3.users u
    WHERE d.user_id = u.user_id AND u.is_guest = 0
      AND u.user_id NOT IN (SELECT old_id FROM user_map)
      AND d.user_dataset_id NOT IN (SELECT user_dataset_id FROM userlogins4.user_datasets2)
  </insert>

  
  <!-- insert new user datasets for users with changed ids -->
  <insert id="insertDuplicateDatasets">
    INSERT INTO userlogins4.user_datasets2 (user_dataset_id, dataset_id, user_id, create_time, upload_file)
    SELECT d.user_dataset_id, d.dataset_id, u.new_id, d.create_time, d.upload_file
    FROM userlogins3.user_datasets2 d, user_map u
    WHERE d.user_id = u.old_id
      AND d.user_dataset_id NOT IN (SELECT user_dataset_id FROM userlogins4.user_datasets2)
  </insert>
  
</mapper>