<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.GuestMapper">

  <insert id="findConflictGuest4">
    INSERT INTO temp_users (user_id)
    SELECT u4.user_id FROM userlogins4.users u4, userlogins3.users u3
    WHERE u4.is_guest = 1 AND u4.user_id = u3.user_id AND u3.is_guest = 0
  </insert>

  <insert id="findConflictGuest3">
    INSERT INTO temp_users (user_id)
    SELECT u3.user_id FROM userlogins4.users u4, userlogins3.users u3
    WHERE u3.is_guest = 1 AND u4.user_id = u3.user_id AND u4.is_guest = 0
  </insert>
  
  <insert id="findTempGuests3Archive">
    INSERT INTO temp_users (user_id)
    SELECT user_id FROM userlogins3_archive.users
    WHERE is_guest = 1 AND user_id NOT IN (SELECT user_id FROM userlogins3_archive.steps)
  </insert>
  
  <insert id="findTempGuests3ArchiveSouth">
    INSERT INTO temp_users (user_id)
    SELECT user_id FROM userlogins3_archive_south.users
    WHERE is_guest = 1 AND user_id NOT IN (SELECT user_id FROM userlogins3_archive_south.steps)
  </insert>
  
  <insert id="findTempGuests3" parameterType="date">
    <![CDATA[
      INSERT INTO temp_users (user_id)
      SELECT user_id FROM userlogins3.users
      WHERE is_guest = 1 AND register_time <= #{cutoffDate}
        AND user_id NOT IN (SELECT user_id FROM userlogins3.steps)
    ]]>
  </insert>
  
  <insert id="findTempGuests4" parameterType="date">
    <![CDATA[
      INSERT INTO temp_users (user_id)
      SELECT user_id FROM userlogins4.users
      WHERE is_guest = 1 AND register_time <= #{cutoffDate}
        AND user_id NOT IN (SELECT user_id FROM userlogins4.steps)
    ]]>
  </insert>

</mapper>