<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.UtilityMapper">

  <select id="selectTableExist" parameterType="string" resultType="string">
    SELECT table_name FROM user_tables WHERE lower(table_name) = lower(#{tableName})
  </select>

  <update id="createTempUsersTable">
    CREATE TABLE temp_users (user_id NUMBER(12) NOT NULL PRIMARY KEY)
  </update>

  <delete id="deleteTempUsers">
    DELETE FROM temp_users
  </delete>

  <update id="createUserMapTable">
    CREATE TABLE user_map (old_id NUMBER(12) NOT NULL PRIMARY KEY, new_id NUMBER(12) NOT NULL)
  </update>

  <update id="createUserMapIndex1">
    CREATE INDEX user_map_ix01 ON user_map (new_id, old_id)
  </update>

  <delete id="deleteUserMap">
    DELETE FROM user_map
  </delete>
  
  <select id="selectClobValue" parameterType="string" resultType="string">
        SELECT clob_value FROM wdkengine.clob_values WHERE clob_checksum = #{checksum}
  </select>

</mapper>