<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.DeleteCommentsMapper">

  <delete id="deleteStableIds"> 
    DELETE FROM wdkuser.CommentStableId
  </delete> 
  
  <delete id="deleteFiles">
    DELETE FROM wdkuser.CommentFile
  </delete>
  
  <delete id="deleteSequences">
    DELETE FROM wdkuser.CommentSequence
  </delete>
  
  <delete id="deleteReferences">
    DELETE FROM wdkuser.CommentReference
  </delete>
  
  <delete id="deleteCommentTargetCategories">
    DELETE FROM wdkuser.CommentTargetCategory
  </delete>
  
  <delete id="deleteTargetCategories">
    DELETE FROM wdkuser.TargetCategory
  </delete>
  
  <delete id="deleteCommentExternalDBs">
    DELETE FROM wdkuser.comment_external_database
  </delete>
  
  <delete id="deleteLocations">
    DELETE FROM wdkuser.locations
  </delete>
  
  <delete id="deleteExternalDBs">
    DELETE FROM wdkuser.external_databases
  </delete>
  
  <delete id="deleteComments">
    DELETE FROM wdkuser.comments
  </delete>
  
  <delete id="deleteReviewStatus">
    DELETE FROM wdkuser.review_status
  </delete>
  
  <delete id="deleteTargets">
    DELETE FROM wdkuser.comment_target
  </delete>

</mapper>
