<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.DeleteUsers5Mapper">

  <delete id="deletefavorites"> 
    DELETE FROM wdkuser.favorites
  </delete> 
  
  <delete id="deleteBaskets">
    DELETE FROM wdkuser.user_baskets
  </delete>
  
  <delete id="deleteStrategies">
    DELETE FROM wdkuser.strategies
  </delete>
  
  <delete id="deleteSteps">
    DELETE FROM wdkuser.steps
  </delete>
  
  <delete id="deleteDatasetValues">
    DELETE FROM wdkuser.dataset_values
  </delete>
  
  <delete id="deleteDatasets">
    DELETE FROM wdkuser.datasets
  </delete>
  
  <delete id="deletePreferences">
    DELETE FROM wdkuser.preferences
  </delete>
  
  <delete id="deleteUserRoles">
    DELETE FROM wdkuser.user_roles
  </delete>
  
  <delete id="deleteUsers">
    DELETE FROM wdkuser.users
  </delete>

</mapper>
