<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apidb.apicommon.model.maintain.users5.mapper.DeleteUsers4Mapper">

  <delete id="deleteDatasets">
    DELETE FROM userlogins4.user_datasets2 WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

  <delete id="deleteBaskets">
    DELETE FROM userlogins4.user_baskets WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

  <delete id="deleteFavorites">
    DELETE FROM userlogins4.favorites WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

  <delete id="deleteStrategies">
    DELETE FROM userlogins4.strategies WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

  <delete id="deleteSteps">
    DELETE FROM userlogins4.steps WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

  <delete id="deletePreferences">
    DELETE FROM userlogins4.preferences WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

  <delete id="deleteRoles">
    DELETE FROM userlogins4.user_roles WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

  <delete id="deleteUsers">
    DELETE FROM userlogins4.users WHERE user_id IN (SELECT user_id FROM temp_users)
  </delete>

</mapper>