#This file controls email alerts sent when steps are done. The format is two columns, tab delimited, and there can be one or more rows. Here is an example that sends an alert on all Pvivax steps that end in makeDataDir:

#pvivax.+makeDataDir$    joe@blotto.com, sue@flamers.org

