#The file contains a list of step names (one per line).  These steps will be set to STOP_AFTER the next time the workflow starts up. NOTE: this file must exist, even if it is empty. 

#global.NRDB_RSRC.return

