#The file contains a list of step names (one per line).  These steps will be set to OFFLINE the next time the workflow starts up. NOTE: this file must exist, even if it is empty.

#cparIowaII_htssnps.coveragesnps.loadCoverageSeqVar

