#This file controls load balancing during the run of the workflow. The numeric value of each tag indicates how many of those steps can run at one time. You should use the values of the following parameters:
total=12
plugin=4
cluster=8
loadBalanceOne=1
tuningManager=1
loadSubjectSubset=1
makeAlgInv=1
dbEST=1
loadSnpFeature=2
mergeSortedSNPSample=1
mergeSortedSNPExpt=1
hssWS=1
