#This file provides the workflow controller its most basic configuration information.

#the name of your workflow, for example, CryptoDB
name=

#the version of your workflow, for example, 20
version=

#the root graph xml file in your gus_home, for example, $GUS_HOME/lib/xml/workflow/generated/CryptoDB/project.xml
workflowXmlFile=

#the Workflow table you installed in your database as part of ReFlow installation
workflowTable=ApiDB.Workflow

#the WorkflowStep table you installed in your database as part of ReFlow installation
workflowStepTable=ApiDB.WorkflowStep

#the tables you installed in your database as part of ReFlow installation that track which rows in the application database were written to by workflow steps.
workflowStepTrackingTable=ApiDB.WorkflowStepAlgInvocation
workflowStepParamValueTable=ApiDB.WorkflowStepParamValue

