#This file contains values that are passed in as parameter values to the root graph XML file.

#Name of your project, for example, "TriTrypDB"
projectName=

#Version used in website file names, for example, "CURRENT"
projectVersionForWebsiteFiles=

#true or false
areBigGenomes=
