#Use properties in this file to provide values that are generally needed by step classes and that are contingent on the environment in which the workflow is running. 

#You should not change the value of the following paramters:
websiteFilesDir=/eupath/data/apiSiteFilesStaging
downloadSiteDir=downloadSite
webServicesDir=webServices
manualDeliveryDir=/eupath/data/EuPathDB/manualDelivery
gusHome=$ENV{GUS_HOME}

#cluster parameters:

clusterServer=
clusterLogin=
clusterQueue=
nodeClass=
nodePath=
clusterBaseDir=


#tuningMangerPassword=

#dbestLogin=
#dbestPswd=
#dbestConnect=

#skipGroups=false
