######### Psipred ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunPfilt.psipredPath = /eupath/workflow-software/software/psipred/3.21/bin
ApiCommonWorkflow/Main/WorkflowSteps/RunPsipredSingle.psipredPath = /eupath/workflow-software/software/psipred/3.21



####### TMHMM ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunTmhmm.binPath = /eupath/workflow-software/software/tmhmm/2.0c/bin/tmhmm
ApiCommonWorkflow/Main/WorkflowSteps/InsertTmhmm.version = 2.0c



####### SignalP ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunSignalP.binPath = /eupath/workflow-software/software/signalp/3.0/signalp
ApiCommonWorkflow/Main/WorkflowSteps/InsertSignalP.version = 3.0 



####### BLAST ######################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeBlastTaskInputDir.taskSize=50


##### Tandem Repeats #############
ApiCommonWorkflow/Main/WorkflowSteps/FindTandemRepeats.trfPath = /eupath/workflow-software/software/trf/4.04/



######## Low Complexity ##################
ApiCommonWorkflow/Main/WorkflowSteps/RunLowComplexityFilter.wuBlastPath = /eupath/workflow-software/software/wu_blast/2.0MP_20060504



####### Make Assembly Seqs ###################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeAssemblySeqs.vectorFile=/eupath/data/thirdparty/repeat/vector/download_7.14.03/vector
ApiCommonWorkflow/Main/WorkflowSteps/MakeAssemblySeqs.phrapDir=/eupath/workflow-software/software/phrap/0.990329


######### Interpro ############################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeInterproTaskInputDir.taskSize = 25
#ApiCommonWorkflow/Main/WorkflowSteps/MakeInterproTaskInputDir.applications = blastprodom,hmmpir,hmmpfam,hmmsmart,hmmtigr,profilescan,superfamily
ApiCommonWorkflow/Main/WorkflowSteps/MakeInterproTaskInputDir.applications = prodom,pirsf,pfama,smart,tigrfam,prositeprofiles,superfamily


######### RepeatMask ############################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeRepeatMaskTaskInputDir.taskSize=150


######### Genome RepeatMask ############################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeGenomeRepeatMaskTaskInputDir.taskSize=1


######### GfClient ############################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeGfClientTaskInputDir.taskSize=1000


######### GfClient ############################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeGfClientTaskInputDirNew.taskSize=1000


######### HtsSnps ############################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeHtsSnpsTaskInputDir.taskSize=1
ApiCommonWorkflow/Main/WorkflowSteps/MakeHtsSnpsTaskInputDir.delta.genomics.upenn.edu.varscanBinPathCluster=/genomics/eupath/workflow-software/software/VarScan/2.2.10/VarScan.jar
ApiCommonWorkflow/Main/WorkflowSteps/MakeHtsSnpsTaskInputDir.zcluster.rcc.uga.edu.varscanBinPathCluster=/panfs/pstor.storage/jckscratch/eupath/workflow-software/software/VarScan/2.2.10/VarScan.jar
ApiCommonWorkflow/Main/WorkflowSteps/MakeHtsSnpsTaskInputDir.galaxy.qbcg.uga.edu.varscanBinPathCluster=/panfs/pstor.storage/jckscratch/eupath/workflow-software/software/VarScan/2.2.10/VarScan.jar
ApiCommonWorkflow/Main/WorkflowSteps/MakeHtsSnpsTaskInputDir.delta.genomics.upenn.edu.gatkBinPathCluster=/genomics/eupath/workflow-software/software/gatk/1.5.31/GenomeAnalysisTK.jar
ApiCommonWorkflow/Main/WorkflowSteps/MakeHtsSnpsTaskInputDir.zcluster.rcc.uga.edu.gatkBinPathCluster=/panfs/pstor.storage/jckscratch/eupath/workflow-software/software/gatk/1.5.31/GenomeAnalysisTK.jar
ApiCommonWorkflow/Main/WorkflowSteps/MakeHtsSnpsTaskInputDir.galaxy.qbcg.uga.edu.gatkBinPathCluster=/panfs/pstor.storage/jckscratch/eupath/workflow-software/software/gatk/1.5.31/GenomeAnalysisTK.jar

##########formatDownloadFile#######################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeWebServicesBlastFiles.wuBlastPath=/eupath/workflow-software/software/wu_blast/2.0MP_20060504
ApiCommonWorkflow/Main/WorkflowSteps/MakeWebServicesBlastFiles.ncbiBlastPath=/eupath/workflow-software/software/ncbi_blast+/2.2.28/bin/


###############formatNcbiBlastFile############################
ApiCommonWorkflow/Main/WorkflowSteps/FormatNcbiBlastFile.ncbiBlastPath=/eupath/workflow-software/software/ncbi_blast/2.2.25/bin



###### MapEpitopesToProtiens #################################
ApiCommonWorkflow/Main/WorkflowSteps/MapEpitopesToProteins.ncbiBlastPath=/eupath/workflow-software/software/ncbi_blast/2.2.25/bin



###################### Derived Tables ####################
ApiCommonWorkflow/Main/WorkflowSteps/MakeDerivedTables.apidbTuningPassword=po34weep
ApiCommonWorkflow/Main/WorkflowSteps/MakeDerivedTopLevelTables.apidbTuningPassword=po34weep
ApiCommonWorkflow/Main/WorkflowSteps/MakeDerivedTables.dblink=prodN.login_comment
ApiCommonWorkflow/Main/WorkflowSteps/MakeDerivedTopLevelTables.dblink=prodN.login_comment

####### ExportPred ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunExportPred.binPath = /eupath/workflow-software/software/exportpred/1.0.0/bin



####### tRNA Scan ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunTRNAScan.tRNAscanBinDir =/eupath/workflow-software/software/tRNAscan/1.23/bin/



####### Mummer ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunMummer.mummerPath=/eupath/workflow-software/software/MUMmer/3.23



####### RunMDust ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunMDust.mdustPath=/eupath/workflow-software/software/mdust/2010.07.22/mdust



####### MakeRUMTaskInputDir ######################################
ApiCommonWorkflow/Main/WorkflowSteps/MakeRUMTaskInputDir.taskSize=2000000

ApiCommonWorkflow/Main/WorkflowSteps/MakeRUMTaskInputDir.delta.genomics.upenn.edu.blatExec=blat
ApiCommonWorkflow/Main/WorkflowSteps/MakeRUMTaskInputDir.delta.genomics.upenn.edu.mdustExec=mdust

ApiCommonWorkflow/Main/WorkflowSteps/MakeRUMTaskInputDir.zcluster.rcc.uga.edu.blatExec=blat
ApiCommonWorkflow/Main/WorkflowSteps/MakeRUMTaskInputDir.zcluster.rcc.uga.edu.mdustExec=mdust

ApiCommonWorkflow/Main/WorkflowSteps/MakeRUMTaskInputDir.galaxy.qbcg.uga.edu.blatExec=blat
ApiCommonWorkflow/Main/WorkflowSteps/MakeRUMTaskInputDir.galaxy.qbcg.uga.edu.mdustExec=mdust


####### CreateBWAIndexes ########################
ApiCommonWorkflow/Main/WorkflowSteps/CreateBWAIndexes.bwaPath=/eupath/workflow-software/software/bwa/0.5.9/


####### RunBWA ########################
ApiCommonWorkflow/Main/WorkflowSteps/RunBWA.varScanJarFile=/eupath/workflow-software/software/VarScan/2.2.10/VarScan.jar
ApiCommonWorkflow/Main/WorkflowSteps/MakeBWATaskInputDir.taskSize=1

##### mercator ######
ApiCommonWorkflow/Main/WorkflowSteps/RunPairwiseMercatorMavid.cndSrcBin=/eupath/workflow-software/software/cndsrc/2010.10.11/bin/
ApiCommonWorkflow/Main/WorkflowSteps/RunPairwiseMercatorMavid.mavidExe=/eupath/workflow-software/software/mavid/2.0.4/mavid/mavid
ApiCommonWorkflow/Main/WorkflowSteps/RunMercatorMavid.cndSrcBin=/eupath/workflow-software/software/cndsrc/2010.10.11/bin/
ApiCommonWorkflow/Main/WorkflowSteps/RunMercatorMavid.mavidExe=/eupath/workflow-software/software/mavid/2.0.4/mavid/mavid
ApiCommonWorkflow/Main/WorkflowSteps/MakeGeneInstanceClusters.cndSrcBin=/eupath/workflow-software/software/cndsrc/2010.10.11/bin/


####### RunMcl  ######################################
ApiCommonWorkflow/Main/WorkflowSteps/RunMcl.binPath =/eupath/workflow-software/software/mcl/12.068/bin/mcl

######### Multiple Sequence Alignment ##########
OrthoMCLWorkflow/Main/WorkflowSteps/MakeMuscleTaskInputDir.taskSize=UNKNOWN

##### BLAST for OrthoMCL web services file ########
OrthoMCLWorkflow/Main/WorkflowSteps/MakeWebservicesBlastFile.ncbiBlastPath=/eupath/workflow-software/software/ncbi_blast/2.2.25/bin

##### Resequencing steps involving mapping with Bowtie #######
ApiCommonWorkflow/Main/WorkflowSteps/MakeBowtieMappingTaskInputDir.taskSize=1
ApiCommonWorkflow/Main/WorkflowSteps/CreateBinnedCoverageFile.samtoolsPath=/eupath/workflow-software/software/samtools/0.1.18
